version: "3.9"

services:

  postgres:
    container_name: postgres
    image: postgres
    env_file:
      .env
    volumes:
      - postgres-data:/var/lib/postgresql # создание хранилища (без него все данные исчезнут после перезапуска контейнера)
    ports:
      - "5432:5432"
    networks:
      - shortener_network
  
  redis:
    image: "redis:latest"
    ports:
      - "6379:6379"
    restart: unless-stopped
    volumes:
      - redis-data:/data  
    networks:
      - shortener_network

  shortener:
    container_name: shortener
    image: shortener
    env_file:
      .env
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "8082:8082"
    depends_on:
      - postgres
      - redis
    restart: unless-stopped     
    networks:
      - shortener_network

volumes:
  postgres-data:
  redis-data:

networks:
  shortener_network:
    driver: bridge 
